<mat-toolbar class="toolbar" color="warn">
  <span>Estiam Chat</span>

  <span class="example-fill-remaining-space"></span>
  <a mat-list-item href="https://github.com/Alexandre-MRG/EstiamChat" target="_blank">
    <span mat-line translate>Github</span>
  </a> 
</mat-toolbar>
  <div>




    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.12.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>